startup --expand_configs_in_place

common:ci --color=yes

build --strategy=worker,sandboxed,local
build --verbose_failures

build --incompatible_strict_action_env
# Disable multiplex sandboxing because there is a bug that causes files which
# should be in the sandbox to not be. Not sure if this is a Bazel bug or a rule
# set bug. Something we need to deal with either way.
#build --experimental_worker_multiplex_sandboxing
build --experimental_worker_cancellation
build --worker_sandboxing

build --java_language_version="21"
build --java_runtime_version="remotejdk_21"
build --tool_java_language_version="21"
build --tool_java_runtime_version="remotejdk_21"

build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --genrule_strategy=standalone

test:ci --test_strategy=standalone
test:ci --test_output=errors
test:ci --local_ram_resources=2048
test:ci --local_cpu_resources=HOST_CPUS*.5
