<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <packaging>{type}</packaging>
    <name>Play Routes Compiler CLI</name>
    <description>A CLI for the Play routes compiler</description>
    <url>https://github.com/lucidsoftware/rules_play_routes</url>
    <licenses>
        <license>
            <name>Apache License, Version 2.0</name>
            <url>https://www.apache.org/licenses/LICENSE-2.0.txt</url>
        </license>
    </licenses>
    <scm>
        <connection>https://github.com/lucidsoftware/rules_play_routes.git</connection>
        <developerConnection>https://github.com/lucidsoftware/rules_play_routes.git</developerConnection>
        <tag>{version}</tag>
        <url>https://github.com/lucidsoftware/rules_play_routes.git</url>
    </scm>
    <developers>
        <developer>
            <name>Lucid Software</name>
            <email>support@lucidchart.com</email>
            <organization>Lucid Software, Inc.</organization>
        </developer>
    </developers>
    <groupId>{groupId}</groupId>
    <artifactId>{artifactId}</artifactId>
    <version>{version}</version>
    <packaging>{type}</packaging>
    <dependencies>
{dependencies}
    </dependencies>
</project>